@model IEnumerable<IMDB.Models.Movie>
@using System.Web.Optimization

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-info">
                            <p class="card-text">
                                <h5 class="card-title">
                                    @item.MovieName
                                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                    {
                                        @Html.ActionLink("Edit", "Edit", new { id = item.MovieId });
                                        <button type="button" class="btn btn-danger" id="delete" onclick="Delete(@item.MovieId)">Delete</button>

                                    }
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="@item.ImageUrl" width="100%" alt="@item.MovieName">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <p class="card-text">@item.Description</p>
                            <p class="card-text"><b>Category: </b>@item.MovieCategory</p>
                        </div>
                    </div>
                    <div class="class=" col-md-12"">
                        <div class="card-body ">
                            <div class="voting">
                                <button id="Likebtn">
                                    <i>Like</i>
                                </button>
                                <input type="number" id="input1" value="0" name="" />
                                <button id="DisLikebtn">
                                    <i>DisLike</i>
                                </button>
                                <input type="number" id="input2" value="0" name="" />
                            </div>
                        </div>

                    </div>
                    <div class="col-md-12">
                        <div class="card-footer ">
                            <p class="card-text">
                                @Html.ActionLink("Details", "Details", new { id = item.MovieId }) |
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    }
</div>
@section Scripts{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
<script>

    $(document).ready(function () {
        $("#Likebtn").click(function () {
            var input = $('#input1').val();
            input++;
            $('#input1').val(input);
        })
        $("#DisLikebtn").click(function () {
            var input = $('#input2').val();
            input++;
            $('#input2').val(input);
        })
    })


    </script>
}